<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>models.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDao</servlet-name>
        <servlet-class>models.ProductsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rating</servlet-name>
        <servlet-class>models.Rating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingsDao</servlet-name>
        <servlet-class>models.RatingsDao1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellsDao</servlet-name>
        <servlet-class>models.SellsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingsD</servlet-name>
        <servlet-class>models.RatingsD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocksDao</servlet-name>
        <servlet-class>models.StocksDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoritesDao</servlet-name>
        <servlet-class>models.FavoritesDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controllers.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDao</servlet-name>
        <url-pattern>/ProductsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/Rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingsDao</servlet-name>
        <url-pattern>/RatingsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellsDao</servlet-name>
        <url-pattern>/SellsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingsD</servlet-name>
        <url-pattern>/RatingsD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocksDao</servlet-name>
        <url-pattern>/StocksDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoritesDao</servlet-name>
        <url-pattern>/FavoritesDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
